<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <!-- Bootstrap : para dispositivos moviles-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Motores Piddo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
