{% extends '::base.html.twig' %}

{% block title %} Admin Home {% endblock %}

{% block body %}
    <header>
    	<lu>
    		<li>Menu 1</li>
    		<li>Menu 2</li>
    		<li>Menu 3</li>
    		<li>Menu 4</li>
    	</lu>
    </header>
{% endblock %}